# Dependencies & Cache
node_modules/
**/node_modules/
.vite/
**/.vite/
dist/
**/dist/
__pycache__/
/**/__pycache__/
*.pyc

# Local Database
*.db
backend/cattle_vision.db

# Environment Variables
.env
frontend/.env
backend/.env

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Uploads directory contents
backend/uploads/*
!backend/uploads/.gitkeep

# Ensure trained PyTorch model is tracked
!backend/model/final_cow_breed_model.pth
